.content {
  text-align: left;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
.date {
  color: var(--secondary-text-color);
}
.value {
  font-size: var(--font-size-large);
  font-weight: 400;
}
