:root{
  --background-color: white;

  --toolbar-background-color: white;
  --toolbar-border-bottom: solid 1px rgba(0,0,0,.12);

  --sidenav-padding: 16px;

  --card-box-shadow: none;
  --card-border-radius: 0;
  --card-title-font-size: 12px;
  --card-padding: 0;
  --card-spacing: 10px;

  --primary-color: #0288D1;
  --primary-color-light: #b2dbf13d;

  --primary-text-color: rgba(0,0,0,.87);
  --secondary-text-color: #757575;

  --font-size-xlarge: 150px;
  --font-size-large: 32px;
  --font-size-medium: 18px;
  --font-size: 14px;
  --font-size-small: 12px;
}
