<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><mat-icon class="logo">home</mat-icon></mat-toolbar>
    <div><span class="section">Indicadores</span></div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let element of configuration?.elements" routerLink="/{{element.key}}" [routerLinkActive]="['selected-element']">{{element.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="profile">
        <img src="assets/profile.png" class="profile-image"/>
        <span>Bienvenid@ a BankDashboard<br><span class="profile-subtitle">Una plataforma para revisar indicadores económicos</span></span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
